@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    background-color: #f1f1f1;
    color: #000;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    overflow: auto;
    vertical-align: baseline;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
}

@media (min-width: 980px) {
    html {
        font-size: 73.5%;
    }
}

@media (min-width: 1981px) {
    html {
        font-size: 87.5%; /* 1rem = 14px */
    }
}

.hover-elevation:hover {
    @apply shadow-lg;
    transition: transform 0.2s ease-in-out;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px -1px rgba(40, 39, 39, 0.4);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
strong {
    color: #000;
}

a {
    text-decoration: none;
    background: none;
    color: #000;
    cursor: pointer;
    border: 0;
    transition: 0.2ms ease-in-out;
}

button,
Link,
a {
    cursor: pointer;
}

ul,
ol {
    list-style: none;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

html::-webkit-scrollbar {
    width: 0.5rem;
}

html::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background: #000;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

.scrollbar-none::-webkit-scrollbar {
    width: 0.5em;
}

.scrollbar-none::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.max-content-width {
    width: 100%;
    @media (min-width: 768px) {
        width: calc(100% - 23.9rem);
    }
}

.line-break-anywhere {
    line-break: anywhere;
}

.react-datepicker-wrapper {
    width: 100%;
}
